@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lovers+Quarrel');

body {
  background-color: white;
  animation-name: beat-back;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.topic {
  position: relative;
  color: #990000;
  margin: 20px 0px 80px 0px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

.content-1 {
  position: absolute;
  left: 50px;
  width: 30%;
  text-align: center;
  margin: 30px 0px 30px 0px;
  font-family: Lovers Quarrel;
  font-size: 50px;
}  

.content-2 {
  position: absolute;
  right: 50px;
  width: 30%;
  text-align: center;
  margin: -90px 0px 30px 0px;
  font-family: Lovers Quarrel;
  font-size: 50px;
}  

.days {  
  position: relative;
  width: 100%;
  text-align: center;
  margin: 30px 0px 10px 0px;
  font-family: Fredericka the Great;
  font-size: large;
}

.footer {
  position: absolute;
  margin: 80px 0px 10px 10px;
  font-family: Fredericka the Great;
  bottom: 0;
}

.heart {
  margin: auto;
  background-color: pink;
  height: 100px;
  width: 100px;
  transform: rotate(-45deg);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite; 
}

.heart:after {
  background-color: pink;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;
  left: 50px;
}

.heart:before {
  background-color: pink;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  left: 0px;
}

.heart:hover {
  background-color: #990000;
  animation-duration: 200ms;
  transform: scale(1.3) rotate(-45deg);
}

.heart:hover:before {
  background-color: #990000;
}

.heart:hover:after {
  background-color: #990000;
}

@keyframes beat {
  0% {
      transform: scale(1) rotate(-45deg);
    }
  50% {
      transform: scale(0.8) rotate(-45deg);
    }
}

@keyframes beat-back {
  50% {
      background: #ffe6f2;
    }
}

@media only screen and (max-width: 850px) {
  .topic {
    margin: 10px 0px 10px 0px;
  }

  .content-1 {
    position: relative;
    width: 100%;
    margin: 30px 0px 30px 0px;
    left: 0;
    font-size: 40px;
  }  
  
  .content-2 {
    position: relative;
    width: 100%;
    margin: 30px 0px 30px 0px;
    right: 0;
    font-size: 40px;
  } 
}

@media only screen and (max-width: 300px) {
  .topic, .days {
    font-size: medium;
  }

  .content-1 {
    font-size: 30px;
  }  
  
  .content-2 {
    font-size: 30px;
    margin: 30px 0px 0px 0px;
  } 

  .footer {
    margin: 20px 0px 10px 5px;
    font-size: small;
  }
}